// @preserve brand-colors 2.0.1
// http://reimertz.github.io/brand-colors
// (c) 2017 Pierre Reimertz
// may be freely distributed under the MIT license.

$bc-4ormat: #ee3440;
$bc-500px: #0099e5;
$bc-500px-2: #ff4c4c;
$bc-500px-3: #34bf49;
$bc-about-me: #00a98f;
$bc-about-me-2: #062f3c;
$bc-about-me-3: #2b82ad;
$bc-about-me-4: #cc7a00;
$bc-about-me-5: #fc3;
$bc-addvocate: #f32;
$bc-adobe: #f00;
$bc-adobe-2: #fbb034;
$bc-adobe-3: #fd0;
$bc-adobe-4: #c1d82f;
$bc-adobe-5: #00a4e4;
$bc-adobe-6: #8a7967;
$bc-adobe-7: #6a737b;
$bc-aer-lingus: #008374;
$bc-aer-lingus-2: #89ba16;
$bc-aer-lingus-3: #fefefe;
$bc-aetna: #d20962;
$bc-aetna-2: #f47721;
$bc-aetna-3: #7ac143;
$bc-aetna-4: #00a78e;
$bc-aetna-5: #00bce4;
$bc-aetna-6: #7d3f98;
$bc-aim: #ffd900;
$bc-airbnb: #fd5c63;
$bc-akamai: #09c;
$bc-akamai-2: #f93;
$bc-alcon: #0079c1;
$bc-alcon-2: #49176d;
$bc-alcon-3: #00a0af;
$bc-alcon-4: #49a942;
$bc-algolia: #050f2c;
$bc-algolia-2: #003666;
$bc-algolia-3: #00aeff;
$bc-algolia-4: #3369e7;
$bc-algolia-5: #8e43e7;
$bc-algolia-6: #b84592;
$bc-algolia-7: #ff4f81;
$bc-algolia-8: #ff6c5f;
$bc-algolia-9: #ffc168;
$bc-algolia-10: #2dde98;
$bc-algolia-11: #1cc7d0;
$bc-alibaba: #ff6a00;
$bc-alienware: #0c3866;
$bc-alienware-2: #49c0b6;
$bc-alienware-3: #222;
$bc-alienware-4: #ce181e;
$bc-alienware-5: #007cc0;
$bc-alienware-6: #ffc20e;
$bc-alienware-7: #00a0f0;
$bc-alienware-8: #9000f0;
$bc-alienware-9: #f00000;
$bc-alphabet: #ed1c24;
$bc-amazon: #f90;
$bc-amazon-2: #146eb4;
$bc-american-express: #002663;
$bc-american-express-2: #4d4f53;
$bc-american-red-cross: #ed1b2e;
$bc-american-red-cross-2: #6d6e70;
$bc-american-red-cross-3: #d7d7d8;
$bc-american-red-cross-4: #b4a996;
$bc-american-red-cross-5: #ecb731;
$bc-american-red-cross-6: #8ec06c;
$bc-american-red-cross-7: #537b35;
$bc-american-red-cross-8: #c4dff6;
$bc-american-red-cross-9: #56a0d3;
$bc-american-red-cross-10: #0091cd;
$bc-american-red-cross-11: #004b79;
$bc-american-red-cross-12: #7f181b;
$bc-american-red-cross-13: #d7d7d8;
$bc-american-red-cross-14: #9f9fa3;
$bc-american-red-cross-15: #000;
$bc-android: #a4c639;
$bc-angies-list: #7fbb00;
$bc-angularjs: #b52e31;
$bc-angularjs-2: #000;
$bc-answers: #136ad5;
$bc-answers-2: #fb8a2e;
$bc-aol: #ff0b00;
$bc-aol-2: #00c4ff;
$bc-arch-linux: #1793d1;
$bc-arch-linux-2: #333;
$bc-arizona-state-university-asu: #903;
$bc-arizona-state-university-asu-2: #ffb310;
$bc-arriva-danmark: #004d73;
$bc-arriva-danmark-2: #00334e;
$bc-arriva-danmark-3: #007fbd;
$bc-arriva-danmark-4: #dbebfa;
$bc-asana: #3be8b0;
$bc-asana-2: #1aafd0;
$bc-asana-3: #6a67ce;
$bc-asana-4: #ffb900;
$bc-asana-5: #fc636b;
$bc-askfm: #db3552;
$bc-associated-press: #ff322e;
$bc-atlanta-falcons: #000;
$bc-atlanta-falcons-2: #a71930;
$bc-atlanta-falcons-3: #a5acaf;
$bc-atlantic-coast-conference-acc: #013ca6;
$bc-atlantic-coast-conference-acc-2: #a5a9ab;
$bc-atlassian: #036;
$bc-att: #00a8e0;
$bc-att-2: #fcb314;
$bc-att-3: #067ab4;
$bc-att-4: #3aa5dc;
$bc-auth0: #16214d;
$bc-auth0-2: #44c7f4;
$bc-auth0-3: #eb5424;
$bc-auth0-4: #d0d2d3;
$bc-avira: #d40000;
$bc-baidu: #de0f17;
$bc-baidu-2: #2529d8;
$bc-bandcamp: #629aa9;
$bc-bandpage: #3eabff;
$bc-bandpage-2:  #2c3235;
$bc-barclays: #00aeef;
$bc-barclays-2: #00395d;
$bc-barnes-noble: #2a5934;
$bc-basecamp: #b3dcff;
$bc-basecamp-2: #5ecc62;
$bc-basecamp-3: #00ad45;
$bc-beats-by-dre: #e01f3d;
$bc-bebo: #e04646;
$bc-behance: #1769ff;
$bc-best-buy: #003b64;
$bc-best-buy-2: #fff200;
$bc-big-cartel: #a0ac48;
$bc-big-cartel-2: #70b29c;
$bc-bing: #ffb900;
$bc-bing-2: #505050;
$bc-bing-3: #a3a3a3;
$bc-bitbucket: #205081;
$bc-bitly: #ee6123;
$bc-bitly-2: #61b3de;
$bc-blackberry: #005387;
$bc-blackberry-2: #8cb811;
$bc-blackberry-3: #fdb813;
$bc-blackberry-4: #88aca1;
$bc-blackberry-5: #000;
$bc-blackberry-6: #788cb6;
$bc-blackberry-7: #a1a1a4;
$bc-blackberry-8: #8f8f8c;
$bc-blockchain: #123962;
$bc-blockchain-2: #2754ba;
$bc-blockchain-3: #00aee6;
$bc-blockchain-4: #799eb2;
$bc-blockchain-5: #b1d4e5;
$bc-blogger: #f57d00;
$bc-boeing: #0033a1;
$bc-boise-state-university: #09347a;
$bc-boise-state-university-2: #007dc3;
$bc-boise-state-university-3: #0169a4;
$bc-boise-state-university-4: #39c;
$bc-boise-state-university-5: #f1632a;
$bc-boise-state-university-6: #464646;
$bc-boise-state-university-7: #b7b7b7;
$bc-boise-state-university-8: #f6f6f5;
$bc-bombardier: #8996a0;
$bc-booking-com: #003580;
$bc-booking-com-2: #009fe3;
$bc-booking-com-3: #feba02;
$bc-booking-com-4: #666;
$bc-booking-com-5: #f2f6fa;
$bc-bower: #ffcc2f;
$bc-bower-2: #ef5734;
$bc-bower-3: #00acee;
$bc-bower-4: #2baf2b;
$bc-bower-5: #543729;
$bc-bower-6: #cecece;
$bc-box: #0061d5;
$bc-boy-scouts-of-america: #ce1126;
$bc-boy-scouts-of-america-2: #003f87;
$bc-british-airways: #075aaa;
$bc-british-airways-2: #eb2226;
$bc-british-airways-3: #01295c;
$bc-british-airways-4: #efe9e5;
$bc-british-airways-5: #aca095;
$bc-british-airways-6: #b9cfed;
$bc-british-airways-7: #a7a9ac;
$bc-bt: #d52685;
$bc-bt-2: #553a99;
$bc-bt-3: #6cbc35;
$bc-bt-4: #fd9f3e;
$bc-bt-5: #08538c;
$bc-buffer: #168eea;
$bc-buffer-2: #ee4f4f;
$bc-buffer-3: #fff9ea;
$bc-buffer-4: #76b852;
$bc-buffer-5: #323b43;
$bc-buffer-6: #59626a;
$bc-buffer-7: #ced7df;
$bc-buffer-8: #eff3f6;
$bc-buffer-9: #f4f7f9;
$bc-burger-king: #ec1c24;
$bc-burger-king-2: #fdbd10;
$bc-burger-king-3: #0066b2;
$bc-burger-king-4: #ed7902;
$bc-buzzfeed: #e32;
$bc-bynder: #0af;
$bc-bynder-2: #343a4e;
$bc-cadbury: #472f92;
$bc-canon: #bc0024;
$bc-canon-2: #000;
$bc-capital-one: #004977;
$bc-capital-one-2: #d03027;
$bc-carbonmade: #613854;
$bc-carrefour: #00387b;
$bc-carrefour-2: #bb1e10;
$bc-carrefour-3: #f67828;
$bc-carrefour-4: #237f52;
$bc-carrot: #388ed1;
$bc-carrot-2: #d74e26;
$bc-carrot-3: #006837;
$bc-carrot-4: #fa9f1e;
$bc-carrot-5: #f7931e;
$bc-cartoon-network: #00aeef;
$bc-cartoon-network-2: #ed008c;
$bc-cartoon-network-3: #fff000;
$bc-cartoon-network-4: #000;
$bc-case-mate: #84754e;
$bc-case-mate-2: #a6192e;
$bc-case-mate-3: #decba5;
$bc-case-mate-4: #000;
$bc-change-org: #ec2c22;
$bc-channel-4: #2e1f54;
$bc-channel-4-2: #52057f;
$bc-channel-4-3: #bf033b;
$bc-channel-4-4: #f00a36;
$bc-channel-4-5: #ed3b21;
$bc-channel-4-6: #ff6908;
$bc-channel-4-7: #ffc719;
$bc-channel-4-8: #598c14;
$bc-channel-4-9: #335238;
$bc-channel-4-10: #4a8594;
$bc-channel-4-11: #051736;
$bc-channel-4-12: #000;
$bc-channel-4-13: #706357;
$bc-channel-4-14: #b0a696;
$bc-channel-4-15: #dbe0e3;
$bc-channel-4-16: #dbeede;
$bc-charity-water: #ffc907;
$bc-charity-water-2: #2e9df7;
$bc-charity-water-3: #231f20;
$bc-cheddar: #ff7243;
$bc-citymapper: #37ab2e;
$bc-clemson-university: #f66733;
$bc-clemson-university-2: #522d80;
$bc-clemson-university-3: #d4c99e;
$bc-clemson-university-4: #685c53;
$bc-clemson-university-5: #a25016;
$bc-clemson-university-6: #562e19;
$bc-clemson-university-7: #86898c;
$bc-clemson-university-8: #f9e498;
$bc-clemson-university-9: #566127;
$bc-clemson-university-10: #3a4958;
$bc-clemson-university-11: #b5c327;
$bc-clemson-university-12: #109dc0;
$bc-coca-cola: #ed1c16;
$bc-code-school: #616f67;
$bc-code-school-2: #c68143;
$bc-codecademy: #f65a5b;
$bc-codecademy-2: #204056;
$bc-codepen: #0ebeff;
$bc-codepen-2: #47cf73;
$bc-codepen-3: #ae63e4;
$bc-codepen-4: #fcd000;
$bc-codepen-5: #ff3c41;
$bc-codepen-6: #76daff;
$bc-connexxion: #d2ea32;
$bc-connexxion-2: #016773;
$bc-continental-ag: #ffa500;
$bc-continental-ag-2: #00a5dc;
$bc-continental-ag-3: #004eaf;
$bc-continental-ag-4: #2db928;
$bc-continental-ag-5: #057855;
$bc-continental-ag-6: #ff2d37;
$bc-continental-ag-7: #000;
$bc-continental-ag-8: #737373;
$bc-continental-ag-9: #969696;
$bc-continental-ag-10: #cdcdcd;
$bc-continental-ag-11: #f0f0f0;
$bc-couchsurfing: #d5490c;
$bc-courtyard: #689550;
$bc-courtyard-2: #85c446;
$bc-courtyard-3: #c0de9e;
$bc-courtyard-4: #b9dca4;
$bc-craft-cms: #da5a47;
$bc-creative-commons: #b62b6e;
$bc-creative-commons-2: #9628c6;
$bc-creative-commons-3: #4374b7;
$bc-creative-commons-4: #abb8af;
$bc-creative-commons-5: #98c807;
$bc-creative-commons-6: #b1a24a;
$bc-creative-commons-7: #edd812;
$bc-creative-commons-8: #ef9421;
$bc-creative-commons-9: #d13814;
$bc-creative-market: #8ba753;
$bc-crowdin: #30660f;
$bc-crowdin-2: #b8cc1c;
$bc-crowne-plaza: #830051;
$bc-crowne-plaza-2: #cf0072;
$bc-crowne-plaza-3: #d9e506;
$bc-crowne-plaza-4: #ff7900;
$bc-crowne-plaza-5: #00c6d7;
$bc-crowne-plaza-6: #766a65;
$bc-crunchbase: #2292a7;
$bc-culvers: #005696;
$bc-cunard: #1d1d1b;
$bc-cunard-2: #ae9a64;
$bc-cunard-3: #e42313;
$bc-cunard-4: #8b8c8d;
$bc-cvs: #c00;
$bc-dailymotion: #0af;
$bc-dailymotion-2: #00d2f3;
$bc-daimler: #263f6a;
$bc-daimler-2: #182b45;
$bc-daimler-3: #6b0f24;
$bc-daimler-4: #193725;
$bc-daimler-5: #606061;
$bc-debian: #a80030;
$bc-deezer: #f00;
$bc-deezer-2: #ffed00;
$bc-deezer-3: #ff0092;
$bc-deezer-4: #c2ff00;
$bc-deezer-5: #00c7f2;
$bc-deezer-6: #c1f1fc;
$bc-deezer-7: #ebffac;
$bc-deezer-8: #ffc2e5;
$bc-deezer-9: #faa;
$bc-delectable: #334858;
$bc-delectable-2: #cd595a;
$bc-delectable-3: #94938f;
$bc-delectable-4: #a3a7a6;
$bc-delectable-5: #dbc5b0;
$bc-delectable-6: #f8dfc2;
$bc-delectable-7: #f9ebdf;
$bc-delicious: #39f;
$bc-delicious-2: #222;
$bc-delicious-3: #eee;
$bc-dell: #0085c3;
$bc-dell-2: #7ab800;
$bc-dell-3: #f2af00;
$bc-dell-4: #dc5034;
$bc-dell-5: #ce1126;
$bc-dell-6: #b7295a;
$bc-dell-7: #6e2585;
$bc-dell-8: #71c6c1;
$bc-dell-9: #5482ab;
$bc-dell-10: #009bbb;
$bc-dell-11: #444;
$bc-dell-12: #eee;
$bc-delta-airlines: #c8102e;
$bc-delta-airlines-2: #862633;
$bc-delta-airlines-3: #003a70;
$bc-dental-plans: #f99104;
$bc-dental-plans-2: #00b7c9;
$bc-designer-news: #2d72d9;
$bc-designmoo: #e64b50;
$bc-designmoo-2: #dbc65d;
$bc-deutsche-bahn: #f00;
$bc-deviantart: #05cc47;
$bc-deviantart-2: #4dc47d;
$bc-deviantart-3: #181a1b;
$bc-devour: #f00;
$bc-dewalt: #febd17;
$bc-dhl: #ba0c2f;
$bc-dhl-2: #ffcd00;
$bc-dhl-3: #c9c9c9;
$bc-diebold: #007dc3;
$bc-diebold-2: #003f69;
$bc-diebold-3: #954010;
$bc-diebold-4: #445c6e;
$bc-diebold-5: #005238;
$bc-diebold-6: #97824b;
$bc-digg: #005be2;
$bc-digg-2: #000;
$bc-digital-ocean: #008bcf;
$bc-dindr: #fdb94e;
$bc-dindr-2: #f9a852;
$bc-dindr-3: #f69653;
$bc-dindr-4: #f38654;
$bc-dindr-5: #f07654;
$bc-dindr-6: #ed6856;
$bc-dindr-7: #ef5956;
$bc-dindr-8: #ee4c58;
$bc-dindr-9: #56c1ab;
$bc-dindr-10: #6a6b6a;
$bc-direct-energy: #f05d21;
$bc-direct-energy-2: #2c5770;
$bc-direct-energy-3: #0f723a;
$bc-direct-energy-4: #c7c8ca;
$bc-direct-energy-5: #666;
$bc-directv: #00a6d6;
$bc-directv-2: #00629b;
$bc-directv-3: #003865;
$bc-discogs: #000;
$bc-discogs-2: #333;
$bc-discogs-3: #f5df2e;
$bc-discord: #7289da;
$bc-discord-2: #99aab5;
$bc-discord-3: #2c2f33;
$bc-discord-4: #23272a;
$bc-dish-network: #ec1944;
$bc-disney-xd: #0af167;
$bc-disney-xd-2: #ee70a6;
$bc-disney-xd-3: #520099;
$bc-disney-xd-4: #39eafd;
$bc-disney-xd-5: #0d0735;
$bc-disney-xd-6: #f5f5f5;
$bc-disqus: #2e9fff;
$bc-django: #092e20;
$bc-docker: #0db7ed;
$bc-docker-2: #384d54;
$bc-dominos: #0b648f;
$bc-dominos-2: #e21737;
$bc-dow: #e80033;
$bc-dow-2: #fdbb30;
$bc-dow-3: #ed8b00;
$bc-dow-4: #f15d22;
$bc-dow-5: #bf0d3e;
$bc-dow-6: #910048;
$bc-dow-7: #d0006f;
$bc-dow-8: #00a5db;
$bc-dribbble: #444;
$bc-dribbble-2: #ea4c89;
$bc-dribbble-3: #8aba56;
$bc-dribbble-4: #f83;
$bc-dribbble-5: #00b6e3;
$bc-dribbble-6: #9ba5a8;
$bc-dropbox: #007ee5;
$bc-dropbox-2: #7b8994;
$bc-dropbox-3: #47525d;
$bc-dropbox-4: #3d464d;
$bc-droplr: #5654a4;
$bc-drupal: #0077c0;
$bc-drupal-2: #81ceff;
$bc-drupal-3: #00598e;
$bc-dunked: #2da9d7;
$bc-dunked-2: #212a3e;
$bc-dunked-3: #3fc380;
$bc-duolingo: #7ac70c;
$bc-duolingo-2: #8ee000;
$bc-duolingo-3: #faa918;
$bc-duolingo-4: #ffc715;
$bc-duolingo-5: #d33131;
$bc-duolingo-6: #e53838;
$bc-duolingo-7: #1cb0f6;
$bc-duolingo-8: #14d4f4;
$bc-duolingo-9: #8549ba;
$bc-duolingo-10: #a560e8;
$bc-duolingo-11: #4c4c4c;
$bc-duolingo-12: #6f6f6f;
$bc-duolingo-13: #cfcfcf;
$bc-duolingo-14: #f0f0f0;
$bc-duolingo-15: #bff199;
$bc-duolingo-16: #f7c8c9;
$bc-dwolla: #ff7404;
$bc-e4: #6d1d7c;
$bc-easy-jet: #f60;
$bc-easy-jet-2: #000;
$bc-easy-jet-3: #58595b;
$bc-ebay: #e53238;
$bc-ebay-2: #0064d2;
$bc-ebay-3: #f5af02;
$bc-ebay-4: #86b817;
$bc-el-al: #131137;
$bc-el-al-2: #918978;
$bc-elance: #0d69af;
$bc-ello: #000;
$bc-ember: #f23819;
$bc-emma: #314855;
$bc-emma-2: #5cc3e8;
$bc-emma-3: #ffdb00;
$bc-emma-4: #79ceb8;
$bc-emma-5: #e95f5c;
$bc-endomundo: #87aa14;
$bc-engadget: #40b3ff;
$bc-envato: #82b541;
$bc-epam: #39c2d7;
$bc-epam-2: #a3c644;
$bc-epam-3: #464547;
$bc-epam-4: #b22746;
$bc-epam-5: #8e244d;
$bc-epictions: #ff2052;
$bc-epictions-2: #e6e6e6;
$bc-epictions-3: #404040;
$bc-epictions-4: #01b5dd;
$bc-epictions-5: #b0db64;
$bc-ericsson: #002561;
$bc-esl: #0d9ddb;
$bc-esl-2: #48b8e7;
$bc-esl-3: #efecea;
$bc-esl-4: #2c2b2b;
$bc-espn: #f03;
$bc-estimote: #6a9c84;
$bc-estimote-2: #790f59;
$bc-estimote-3: #373b9c;
$bc-estimote-4: #f784b6;
$bc-estimote-5: #39b7dd;
$bc-estimote-6: #ccc900;
$bc-etrade: #63c;
$bc-etrade-2: #9c0;
$bc-etsy: #d5641c;
$bc-evaneos: #3c9;
$bc-evaneos-2: #4ba6f5;
$bc-evaneos-3: #fdca30;
$bc-evaneos-4: #f79400;
$bc-evaneos-5: #f34235;
$bc-eventbrite: #ff8000;
$bc-evernote: #2dbe60;
$bc-evernote-2: #7b868a;
$bc-evernote-3: #2facb2;
$bc-evernote-4: #166a8f;
$bc-evernote-5: #3b4446;
$bc-evernote-6: #525e61;
$bc-evernote-7: #7b868a;
$bc-evernote-8: #aeb6b8;
$bc-evernote-9: #d7dcdd;
$bc-evernote-10: #eff2f3;
$bc-execucar: #203143;
$bc-execucar-2: #da9a39;
$bc-fab-com: #dd0017;
$bc-fab-com-2: #000;
$bc-facebook: #3b5998;
$bc-fairfield-inn-suites: #6caddf;
$bc-fairfield-inn-suites-2: #b06010;
$bc-fairfield-inn-suites-3: #004990;
$bc-fairfield-inn-suites-4: #b50938;
$bc-fairmont: #a6a685;
$bc-fairmont-2: #000;
$bc-famo-us: #fa5c4f;
$bc-famo-us-2: #333;
$bc-fancy: #3098dc;
$bc-fancy-2: #494e58;
$bc-fedex: #609;
$bc-fedex-2: #f60;
$bc-fedex-3: #0c0;
$bc-fedex-4: #09c;
$bc-fedex-5: #f03;
$bc-fedex-6: #fc0;
$bc-fedex-7: #999;
$bc-fedora: #294172;
$bc-fedora-2: #325191;
$bc-fedora-3: #3c6eb4;
$bc-fedora-4: #81dc3e;
$bc-fedora-5: #9970b5;
$bc-feedly: #2bb24c;
$bc-ferrari: #e32119;
$bc-fiat: #96172e;
$bc-fiat-2: #6d2d41;
$bc-film4: #000;
$bc-film4-2: #d6182a;
$bc-firefox: #e66000;
$bc-firefox-2: #ff9500;
$bc-firefox-3: #ffcb00;
$bc-firefox-4: #00539f;
$bc-firefox-5: #0095dd;
$bc-firefox-6: #331e54;
$bc-firefox-7: #002147;
$bc-fiskars: #ff8e00;
$bc-fiskars-2: #000;
$bc-fiskars-3: #955214;
$bc-fiskars-4: #55601c;
$bc-fiskars-5: #005172;
$bc-fitbit: #4cc2c4;
$bc-fitbit-2: #f54785;
$bc-fitbit-3: #343434;
$bc-five-guys: #ed174f;
$bc-five-guys-2: #fbb040;
$bc-five-guys-3: #efc402;
$bc-five-guys-4: #d4891c;
$bc-fiverr: #00b22d;
$bc-flattr: #f67c1a;
$bc-flattr-2: #338d11;
$bc-flavors-me: #f10087;
$bc-flavors-me-2: #009ae7;
$bc-flickr: #0063dc;
$bc-flickr-2: #ff0084;
$bc-flipboard: #e12828;
$bc-flixster: #2971b2;
$bc-follr: #4dc9f6;
$bc-follr-2: #f67019;
$bc-follr-3: #f53794;
$bc-follr-4: #537bc4;
$bc-follr-5: #acc236;
$bc-ford: #1c396d;
$bc-forrst: #5b9a68;
$bc-foursquare: #f94877;
$bc-foursquare-2: #0732a2;
$bc-foursquare-3: #2d5be3;
$bc-freecodecamp: #006400;
$bc-freecodecamp-2: #ff9c2a;
$bc-freecodecamp-3: #ff4025;
$bc-freecodecamp-4: #3949ab;
$bc-freecodecamp-5: #efefef;
$bc-friend2friend: #0f99d6;
$bc-gallaudet-university: #00457c;
$bc-gallaudet-university-2: #e8d4a2;
$bc-gannett: #009bff;
$bc-garmin: #007cc3;
$bc-garuda: #484848;
$bc-garuda-2: #002561;
$bc-garuda-3: #2f6f7e;
$bc-generatepress: #1b212b;
$bc-generatepress-2: #1e72bd;
$bc-generatepress-3: #efefef;
$bc-geocaching: #4a742c;
$bc-georgia-southern-university: #041e42;
$bc-georgia-southern-university-2: #a99260;
$bc-getglue: #2d75a2;
$bc-ghost: #212425;
$bc-ghost-2: #718087;
$bc-ghost-3: #5ba4e5;
$bc-ghost-4: #9fbb58;
$bc-ghost-5: #e9e8dd;
$bc-gibson: #000;
$bc-gibson-2: #436f8e;
$bc-gibson-3: #887d59;
$bc-gibson-4: #8f9696;
$bc-gimmebar: #d6156c;
$bc-github: #4078c0;
$bc-github-2: #6cc644;
$bc-github-3: #bd2c00;
$bc-github-4: #c9510c;
$bc-github-5: #6e5494;
$bc-github-6: #fafafa;
$bc-github-7: #f5f5f5;
$bc-github-8: #333;
$bc-gitlab: #fca326;
$bc-gitlab-2: #fc6d26;
$bc-gitlab-3: #e24329;
$bc-gitlab-4: #548;
$bc-gitter: #46bc99;
$bc-gitter-2: #f68d42;
$bc-gitter-3: #ed1965;
$bc-gitter-4: #f2f0ed;
$bc-gitter-5: #3a3133;
$bc-gittip: #630;
$bc-gittip-2: #396;
$bc-godaddy: #7db701;
$bc-godaddy-2: #ff8a00;
$bc-gogo: #e80029;
$bc-gogo-2: #40b4e5;
$bc-gogo-3: #7c868d;
$bc-goodreads: #553b08;
$bc-google: #4285f4;
$bc-google-2: #34a853;
$bc-google-3: #fbbc05;
$bc-google-4: #ea4335;
$bc-google-5: #e7e6dd;
$bc-google-allo: #fbbc05;
$bc-google-duo: #4285f4;
$bc-google-plus: #dd4b39;
$bc-googleplus: #dc4e41;
$bc-gravatar: #1e8cbe;
$bc-gravit: #e30061;
$bc-gravit-2: #d5df00;
$bc-gravit-3: #475258;
$bc-grooveshark: #f77f00;
$bc-groupon: #82b548;
$bc-grunt: #fba919;
$bc-grunt-2: #463014;
$bc-gulp: #cf4646;
$bc-gulp-2: #fff;
$bc-gumtree: #72ef36;
$bc-gumtree-2: #3b3141;
$bc-gumtree-3: #f0ece6;
$bc-gvb: #0863b5;
$bc-gvb-2: #fec600;
$bc-gvb-3: #f39100;
$bc-gvb-4: #e3001f;
$bc-gvb-5: #e50064;
$bc-gvb-6: #954a97;
$bc-gvb-7: #009ee3;
$bc-gvb-8: #13a538;
$bc-hacker-news: #f60;
$bc-hangouts: #0f9d58;
$bc-happn: #0087b4;
$bc-hatena-bookmark: #00a4de;
$bc-heineken: #008200;
$bc-heineken-2: #205527;
$bc-heineken-3: #ff2b00;
$bc-heineken-4: #c3c3c3;
$bc-hellowallet: #0093d0;
$bc-help-scout: #3197d6;
$bc-help-scout-2: #394956;
$bc-help-scout-3: #d6dde3;
$bc-here: #124191;
$bc-heroku: #c9c3e6;
$bc-heroku-2: #6762a6;
$bc-hewlett-packard-enterprise: #00b388;
$bc-hewlett-packard-enterprise-2: #425563;
$bc-hi5: #fd9827;
$bc-highfive: #a26eea;
$bc-highfive-2: #f7afff;
$bc-highfive-3: #5d70ea;
$bc-highfive-4: #46b7fd;
$bc-home-depot: #f96305;
$bc-homeaway: #2a6ebb;
$bc-homeaway-2: #ff8a00;
$bc-hootsuite: #003265;
$bc-hootsuite-2: #f7e8d5;
$bc-hootsuite-3: #ffbd0a;
$bc-hootsuite-4: #c6af92;
$bc-hootsuite-5: #71685f;
$bc-hootsuite-6: #54493f;
$bc-hootsuite-7: #38322d;
$bc-houzz: #7ac142;
$bc-houzz-2: #000;
$bc-hp: #0096d6;
$bc-hp-2: #d7410b;
$bc-hsbc: #db0011;
$bc-html5: #e34f26;
$bc-hulu: #6a3;
$bc-hulu-2: #9c3;
$bc-hulu-3: #41811e;
$bc-hulu-4: #222;
$bc-hulu-5: #666;
$bc-hulu-6: #e8e8e8;
$bc-hyatt: #6d6e71;
$bc-hyatt-2: #bf5b20;
$bc-hyatt-3: #006e96;
$bc-hyatt-4: #8c8700;
$bc-hyatt-5: #ad5f7d;
$bc-hyatt-6: #d79100;
$bc-ibm: #069;
$bc-icons8: #32c24d;
$bc-ideal: #c06;
$bc-ideal-2: #79afc1;
$bc-ideal-3: #000;
$bc-identi-ca: #789240;
$bc-identi-ca-2: #7d0100;
$bc-identi-ca-3: #8baaff;
$bc-ifttt: #3cf;
$bc-ifttt-2: #f40;
$bc-ifttt-3: #000;
$bc-iheartradio: #c6002b;
$bc-ikea: #fc0;
$bc-ikea-2: #039;
$bc-imdb: #f5de50;
$bc-imgur: #85bf25;
$bc-indeed: #2164f4;
$bc-indeed-2: #f60;
$bc-indiegogo: #eb1478;
$bc-instacart: #60ab59;
$bc-instagram: #405de6;
$bc-instagram-2: #5851db;
$bc-instagram-3: #833ab4;
$bc-instagram-4: #c13584;
$bc-instagram-5: #e1306c;
$bc-instagram-6: #fd1d1d;
$bc-instagram-7: #f56040;
$bc-instagram-8: #f77737;
$bc-instagram-9: #fcaf45;
$bc-instagram-10: #ffdc80;
$bc-instapage: #0d1a2b;
$bc-instapage-2: #1565c0;
$bc-instapage-3: #1e88e5;
$bc-instapage-4: #bcced6;
$bc-instapage-5: #f2f7f9;
$bc-instapaper: #000;
$bc-instapaper-2: #428bca;
$bc-intel: #0f7dc2;
$bc-intuit: #365ebf;
$bc-ios: #5fc9f8;
$bc-ios-2: #fecb2e;
$bc-ios-3: #fd9426;
$bc-ios-4: #fc3158;
$bc-ios-5: #147efb;
$bc-ios-6: #53d769;
$bc-ios-7: #fc3d39;
$bc-ios-8: #8e8e93;
$bc-issuu: #f36d5d;
$bc-istock: #fe423f;
$bc-istock-2: #02a388;
$bc-istock-3: #0c0d0d;
$bc-istock-4: #e8eded;
$bc-istock-5: #dce1e1;
$bc-javascript: #f7df1e;
$bc-jawbone: #000;
$bc-jbl: #f60;
$bc-jetpack: #669c34;
$bc-jetpack-2: #72af3a;
$bc-joomla: #f44321;
$bc-joomla-2: #5091cd;
$bc-joomla-3: #f9a541;
$bc-joomla-4: #7ac143;
$bc-joyent: #f60;
$bc-jquery: #0769ad;
$bc-jquery-2: #7acef4;
$bc-kaspersky-lab: #006c54;
$bc-kaspersky-lab-2: #d52a1d;
$bc-keeeb: #00a9c0;
$bc-khan-academy: #9cb443;
$bc-khan-academy-2: #242f3a;
$bc-kia: #c21a30;
$bc-kickstarter: #2bde73;
$bc-kickstarter-2: #0f2105;
$bc-kik: #82bc23;
$bc-kik-2: #3db4e7;
$bc-kippt: #d51007;
$bc-kitkat: #d70021;
$bc-kiva: #63a541;
$bc-kiva-2: #236133;
$bc-kiva-3: #26b6e8;
$bc-kiwipay: #00b0df;
$bc-klm: #00a1e4;
$bc-kodery: #00af81;
$bc-labs64: #e14817;
$bc-labs64-2: #f08b53;
$bc-labs64-3: #7b2a10;
$bc-labs64-4: #ab6543;
$bc-labs64-5: #f2951c;
$bc-labs64-6: #87888a;
$bc-lamborghini: #ddb321;
$bc-laravel: #f55247;
$bc-lastfm: #d51007;
$bc-lastpass: #d32d27;
$bc-lastpass-2: #af0809;
$bc-lastpass-3: #000;
$bc-lastpass-4: #0c2340;
$bc-lastpass-5: #00a3e0;
$bc-lastpass-6: #ede04b;
$bc-lastpass-7: #333f48;
$bc-lastpass-8: #d9e1e2;
$bc-lego: #f6ec35;
$bc-lego-2: #d11013;
$bc-lego-3: #000;
$bc-line: #00c300;
$bc-linkedin: #0077b5;
$bc-linkedin-2: #000;
$bc-linkedin-3: #313335;
$bc-linkedin-4: #86888a;
$bc-linkedin-5: #caccce;
$bc-linkedin-6: #00a0dc;
$bc-linkedin-7: #8d6cab;
$bc-linkedin-8: #dd5143;
$bc-linkedin-9: #e68523;
$bc-livestream: #cf202e;
$bc-livestream-2: #232121;
$bc-livestream-3: #f78822;
$bc-livestream-4: #f6db35;
$bc-livestream-5: #6dc067;
$bc-livestream-6: #4185be;
$bc-livestream-7: #8f499c;
$bc-lloyds: #d81f2a;
$bc-lloyds-2: #f90;
$bc-lloyds-3: #e0d86e;
$bc-lloyds-4: #9ea900;
$bc-lloyds-5: #6ec9e0;
$bc-lloyds-6: #007ea3;
$bc-lloyds-7: #9e4770;
$bc-lloyds-8: #631d76;
$bc-lloyds-9: #1e1e1e;
$bc-lomo: #eb0028;
$bc-lomo-2: #00a0df;
$bc-london-underground: #009;
$bc-london-underground-2: #c33;
$bc-lumo: #576396;
$bc-lyft: #ff00bf;
$bc-lyft-2: #352384;
$bc-lyft-3: #333447;
$bc-lyft-4: #f3f3f5;
$bc-magento: #f46f25;
$bc-mail-ru: #168de2;
$bc-mail-ru-2: #ffa930;
$bc-mailchimp: #239ab9;
$bc-mailchimp-2: #52bad5;
$bc-mailchimp-3: #6dc5dc;
$bc-mailchimp-4: #373737;
$bc-mailchimp-5: #5d5c5d;
$bc-mailchimp-6: #b7b7b7;
$bc-mailru: #168de2;
$bc-mailru-2: #ffa930;
$bc-makita: #d82028;
$bc-makita-2: #29a0b7;
$bc-mapbox: #3bb2d0;
$bc-mapbox-2: #3887be;
$bc-mapbox-3: #8a8acb;
$bc-mapbox-4: #56b881;
$bc-mapbox-5: #50667f;
$bc-mapbox-6: #41afa5;
$bc-mapbox-7: #f9886c;
$bc-mapbox-8: #e55e5e;
$bc-mapbox-9: #ed6498;
$bc-mapbox-10: #fbb03b;
$bc-mapbox-11: #142736;
$bc-mapbox-12: #28353d;
$bc-mapbox-13: #222b30;
$bc-massy-group: #004a77;
$bc-massy-group-2: #00adee;
$bc-massy-group-3: #ff8100;
$bc-massy-group-4: #ffd200;
$bc-mastercard: #c00;
$bc-mastercard-2: #f90;
$bc-mastercard-3: #006;
$bc-mcdonalds: #bf0c0c;
$bc-mcdonalds-2: #e76a05;
$bc-mcdonalds-3: #ffc600;
$bc-mcdonalds-4: #47bc00;
$bc-mcdonalds-5: #05007b;
$bc-mcdonalds-6: #9748a8;
$bc-mcdonalds-7: #2bb3f3;
$bc-mcdonalds-8: #865200;
$bc-medium: #00ab6c;
$bc-meetup: #e0393e;
$bc-meijer: #0a4d8c;
$bc-meijer-2: #dd1321;
$bc-mercadolibre-com: #ffe600;
$bc-mercadolibre-com-2: #2d3277;
$bc-messenger: #0084ff;
$bc-mic: #21c1ff;
$bc-microsoft: #f65314;
$bc-microsoft-2: #7cbb00;
$bc-microsoft-3: #00a1f1;
$bc-microsoft-4: #fb0;
$bc-microsoft-band: #783bd2;
$bc-microsoft-office: #ea3e23;
$bc-microsoft-surface: #0078d7;
$bc-microsoft-surface-2: #eee;
$bc-microsoft-surface-3: #737373;
$bc-microsoft-surface-4: #505050;
$bc-microsoft-surface-5: #000;
$bc-milligram: #9b4dca;
$bc-milligram-2: #f4f5f6;
$bc-milligram-3: #606c76;
$bc-mixcloud: #52aad8;
$bc-mixcloud-2: #273a4b;
$bc-mixcloud-3: #1d2d3b;
$bc-mixpanel: #a086d3;
$bc-mobilink: #ee1d23;
$bc-mollie: #c6d6df;
$bc-mollie-2: #ec4534;
$bc-mongodb: #589636;
$bc-montclair-state-university: #ce1141;
$bc-montclair-state-university-2: #eeb111;
$bc-montclair-state-university-3: #e87d1e;
$bc-montclair-state-university-4: #94ce08;
$bc-montclair-state-university-5: #00386b;
$bc-montclair-state-university-6: #969491;
$bc-more4: #949483;
$bc-more4-2: #f47b7b;
$bc-more4-3: #9f1f5c;
$bc-more4-4: #ef9020;
$bc-more4-5: #00af3e;
$bc-more4-6: #85b7e2;
$bc-more4-7: #29245c;
$bc-more4-8: #ffd616;
$bc-more4-9: #e5352b;
$bc-more4-10: #e990ab;
$bc-more4-11: #0081b4;
$bc-more4-12: #96cbb3;
$bc-more4-13: #91be3e;
$bc-more4-14: #39a6dd;
$bc-more4-15: #eb0973;
$bc-more4-16: #dde2e0;
$bc-more4-17: #333c41;
$bc-motorola: #5c92fa;
$bc-mozilla: #c13832;
$bc-mozilla-2: #d7d3c8;
$bc-mozilla-3: #4d4e53;
$bc-musixmatch: #ff6050;
$bc-musixmatch-2: #ff0e83;
$bc-musixmatch-3: #d54262;
$bc-musixmatch-4: #813867;
$bc-musixmatch-5: #66336e;
$bc-musixmatch-6: #341539;
$bc-musixmatch-7: #5677fc;
$bc-musixmatch-8: #9013fe;
$bc-musixmatch-9: #ffc208;
$bc-musixmatch-10: #0c9;
$bc-muut: #1fadc5;
$bc-muut-2: #ff8000;
$bc-myspace: #000;
$bc-mysql: #00758f;
$bc-mysql-2: #f29111;
$bc-nanowrimo: #93dee8;
$bc-nanowrimo-2: #5a2e14;
$bc-nasa: #fc3d21;
$bc-nasa-2: #0b3d91;
$bc-national-geographic: #fc0;
$bc-national-geographic-2: #000;
$bc-nationwide: #0071bf;
$bc-nationwide-2: #000;
$bc-nbc: #e1ac26;
$bc-nbc-2: #dc380f;
$bc-nbc-3: #9f0812;
$bc-nbc-4: #6347b2;
$bc-nbc-5: #368dd5;
$bc-nbc-6: #70af1e;
$bc-nbc-7: #7e887a;
$bc-nc-state-university: #c00;
$bc-nc-state-university-2: #000;
$bc-nest: #00afd8;
$bc-nest-2: #7b858e;
$bc-netflix: #e50914;
$bc-netflix-2: #221f1f;
$bc-netflix-3: #f5f5f1;
$bc-netlicensing: #e14817;
$bc-netlicensing-2: #f08b53;
$bc-netlicensing-3: #7b2a10;
$bc-netlicensing-4: #ab6543;
$bc-netlicensing-5: #f2951c;
$bc-netlicensing-6: #87888a;
$bc-netvibes: #39bd00;
$bc-new-balance: #ce2724;
$bc-new-balance-2: #f3ec19;
$bc-new-balance-3: #207c88;
$bc-new-balance-4: #aac1bf;
$bc-new-balance-5: #e8e9d7;
$bc-new-balance-6: #4c4d4f;
$bc-new-balance-7: #231f20;
$bc-new-york-post: #c33;
$bc-new-york-post-2: #2a2a2a;
$bc-nexar: #fbb040;
$bc-nexar-2: #44355b;
$bc-nexar-3: #31263e;
$bc-nexar-4: #ee5622;
$bc-nexar-5: #221e22;
$bc-nexmo: #0077c8;
$bc-nexmo-2: #ff8200;
$bc-nexmo-3: #f0537a;
$bc-nextdoor: #19975d;
$bc-nfl: #013369;
$bc-nfl-2: #d50a0a;
$bc-nike-football: #504847;
$bc-nike-football-2: #27a770;
$bc-nikefuel: #4bad31;
$bc-nikefuel-2: #f5dc00;
$bc-nikefuel-3: #e95814;
$bc-nikefuel-4: #e2142d;
$bc-ning: #75af42;
$bc-node-js: #215732;
$bc-node-js-2: #6cc24a;
$bc-node-js-3: #44883e;
$bc-node-js-4: #333;
$bc-nokia: #124191;
$bc-norsan-media: #0390d8;
$bc-northern-arizona-university: #003466;
$bc-northern-arizona-university-2: #557665;
$bc-northwestern-university: #4e2a84;
$bc-northwestern-university-2: #836eaa;
$bc-northwestern-university-3: #401f68;
$bc-northwestern-university-4: #b6acd1;
$bc-northwestern-university-5: #e4e0ee;
$bc-northwestern-university-6: #342f2e;
$bc-northwestern-university-7: #716c6b;
$bc-northwestern-university-8: #bbb8b8;
$bc-northwestern-university-9: #d8d6d6;
$bc-novartis: #765438;
$bc-novartis-2: #a13323;
$bc-novartis-3: #e65124;
$bc-novartis-4: #ec7f22;
$bc-novartis-5: #f8b22a;
$bc-novartis-6: #ffd430;
$bc-npm: #cb3837;
$bc-ns: #ffc61e;
$bc-ns-2: #00337f;
$bc-nvidia: #76b900;
$bc-obb: #e2002a;
$bc-obb-2: #6e6e6e;
$bc-odnoklassniki: #ed812b;
$bc-office-sway: #008272;
$bc-oktopost: #001f2d;
$bc-oktopost-2: #008fd4;
$bc-oktopost-3: #696969;
$bc-oktopost-4: #ccc;
$bc-oktopost-5: #eee;
$bc-ola: #d7e021;
$bc-ola-2: #010101;
$bc-olark: #8d989a;
$bc-olark-2: #744da8;
$bc-olark-3: #1fb3e0;
$bc-olark-4: #49c219;
$bc-olark-5: #f4dc2a;
$bc-olark-6: #eeb417;
$bc-olark-7: #d65129;
$bc-olympus: #08107b;
$bc-olympus-2: #dfb226;
$bc-olympus-3: #777;
$bc-oneplus: #eb0029;
$bc-onshape: #1b5faa;
$bc-onshape-2: #90cef1;
$bc-onshape-3: #ffc20e;
$bc-oovoo: #eeaf00;
$bc-opera: #cc0f16;
$bc-opera-2: #9c9e9f;
$bc-oracle: #f00;
$bc-oracle-2: #000;
$bc-oracle-3: #7f7f7f;
$bc-oregon-state-university: #dc4405;
$bc-oregon-state-university-2: #000;
$bc-overstock: #c7202c;
$bc-oxford-university-press: #002147;
$bc-oxford-university-press-2: #000;
$bc-oxford-university-press-3: #666;
$bc-pac-12: #004b91;
$bc-pac-12-2: #00274d;
$bc-pac-12-3: #0076c0;
$bc-pac-12-4: #000007;
$bc-pac-12-5: #d6e03d;
$bc-pac-12-6: #a1a1a4;
$bc-pac-12-7: #d3c4aa;
$bc-panasonic: #0f58a8;
$bc-panasonic-2: #000;
$bc-pandora: #005483;
$bc-path: #ee3423;
$bc-patreon: #f96854;
$bc-patreon-2: #052d49;
$bc-paymill: #f05000;
$bc-paypal: #003087;
$bc-paypal-2: #009cde;
$bc-paypal-3: #012169;
$bc-paypal-dark: #1e477a;
$bc-paypal-dark-2: #3b7bbf;
$bc-pearson: #ed6b06;
$bc-pearson-2: #9d1348;
$bc-pearson-3: #008b5d;
$bc-pearson-4: #364395;
$bc-penguin-books: #ff6900;
$bc-pepsi: #e32934;
$bc-pepsi-2: #004883;
$bc-periscope: #3aa4c6;
$bc-periscope-2: #d75444;
$bc-pfizer: #0093d0;
$bc-pfizer-2: #000;
$bc-pfizer-3: #616365;
$bc-pfizer-4: #00aeef;
$bc-pfizer-5: #d6006e;
$bc-pfizer-6: #75d1e0;
$bc-pfizer-7: #7dba00;
$bc-pfizer-8: #cc292b;
$bc-pfizer-9: #00a950;
$bc-pfizer-10: #f8971d;
$bc-pfizer-11: #f7d417;
$bc-pfizer-12: #4a245e;
$bc-pfizer-13: #f26649;
$bc-philips: #0e5fd8;
$bc-photobucket: #0ea0db;
$bc-photobucket-2: #000;
$bc-php: #8892be;
$bc-php-2: #4f5b93;
$bc-php-3: #9c9;
$bc-pinboard: #0000e6;
$bc-pinterest: #bd081c;
$bc-pizza-hut: #ee3124;
$bc-pizza-hut-2: #00a160;
$bc-pizza-hut-3: #ffc425;
$bc-plasso: #6585ed;
$bc-plasso-2: #f5756c;
$bc-plasso-3: #98afc0;
$bc-plasso-4: #2f3148;
$bc-plaxo: #414f5a;
$bc-playstation: #003087;
$bc-playstr: #d91e18;
$bc-pocket: #ef4056;
$bc-pocket-2: #50bcb6;
$bc-polariod: #00a3e2;
$bc-polariod-2: #1ba548;
$bc-polariod-3: #fdc800;
$bc-polariod-4: #f1860e;
$bc-polariod-5: #e41b13;
$bc-portfolium: #09f;
$bc-portfolium-2: #fb0a2a;
$bc-portfolium-3: #17ad49;
$bc-portfolium-4: #333;
$bc-postman: #ef5b25;
$bc-postmates: #000;
$bc-postmates-2: #36454f;
$bc-prestashop: #df0067;
$bc-prestashop-2: #251b5b;
$bc-prestashop-3: #25b9d7;
$bc-prestashop-4: #fbbb22;
$bc-prestashop-5: #68737f;
$bc-prestashop-6: #bbbfc3;
$bc-prezi: #318bff;
$bc-priceline: #1885bf;
$bc-princeton-university: #ee7f2d;
$bc-princeton-university-2: #000;
$bc-product-hunt: #da552f;
$bc-product-hunt-2: #534540;
$bc-product-hunt-3: #988f8c;
$bc-product-hunt-4: #00b27f;
$bc-protonmail: #505264;
$bc-protonmail-2: #8a90c7;
$bc-puma: #000;
$bc-puma-2: #44403f;
$bc-puma-3: #696965;
$bc-puma-4: #ba2026;
$bc-puma-5: #ae946d;
$bc-purdue-university: #c28e0e;
$bc-purdue-university-2: #98700d;
$bc-purdue-university-3: #000;
$bc-pusha: #0f71b4;
$bc-python: #ffde57;
$bc-python-2: #4584b6;
$bc-python-3: #646464;
$bc-qantas-airlines: #e0001b;
$bc-qq: #000;
$bc-qq-2: #ffa600;
$bc-qq-3: #fb0009;
$bc-qq-4: #fff;
$bc-qualtrics: #e10019;
$bc-quizup: #ff5454;
$bc-quora: #a82400;
$bc-quote-fm: #66ceff;
$bc-rambler: #315efb;
$bc-raspberry-pi: #c7053d;
$bc-raspberry-pi-2: #8cc04b;
$bc-razer: #0f0;
$bc-rdio: #007dc3;
$bc-react: #00d8ff;
$bc-readability: #900;
$bc-realex-payments: #f29023;
$bc-realex-payments-2: #4d5255;
$bc-red-hat: #c00;
$bc-reddit: #ff4500;
$bc-reddit-2: #5f99cf;
$bc-reddit-3: #cee3f8;
$bc-redfin: #a02021;
$bc-redox: #0a2239;
$bc-redox-2: #01b287;
$bc-redox-3: #ff9f1c;
$bc-redox-4: #e5505a;
$bc-redox-5: #854c9e;
$bc-reliance: #0072bb;
$bc-remax: #e11b22;
$bc-remax-2: #0054a4;
$bc-renaissance-hotels: #000;
$bc-renaissance-hotels-2: #999;
$bc-renaissance-hotels-3: #f58021;
$bc-renaissance-hotels-4: #f58021;
$bc-rentler: #ed1c27;
$bc-residence-inn: #b32317;
$bc-residence-inn-2: #f58025;
$bc-residence-inn-3: #3a6e8f;
$bc-residence-inn-4: #87b2d8;
$bc-residence-inn-5: #8d8b00;
$bc-residence-inn-6: #c1d72f;
$bc-resource: #7eb400;
$bc-reverbnation: #e43526;
$bc-rochester-institute-of-technology: #f36e21;
$bc-rochester-institute-of-technology-2: #513127;
$bc-rockpack: #0ba6ab;
$bc-roku: #6f1ab1;
$bc-rolls-royce: #680021;
$bc-rolls-royce-2: #fffaec;
$bc-rolls-royce-3: #939598;
$bc-rolls-royce-4: #000;
$bc-roo-kids: #e22027;
$bc-roo-kids-2: #a1cd3d;
$bc-roo-kids-3: #003e70;
$bc-roon: #62b0d9;
$bc-rosetta-stone: #0098db;
$bc-rosetta-stone-2: #ecc400;
$bc-rounds: #fdd800;
$bc-rowan-university: #3f1a0a;
$bc-rowan-university-2: #edd51c;
$bc-royal-mail: #f00;
$bc-royal-mail-2: #ff0;
$bc-royal-mail-3: #000;
$bc-rss: #ee802f;
$bc-rss-2: #f26522;
$bc-ruby: #cc342d;
$bc-ruby-on-rails: #c00;
$bc-rutgers-university: #c03;
$bc-ryanair: #073590;
$bc-ryanair-2: #f1c933;
$bc-ryanair-3: #2091eb;
$bc-sage: #00dc06;
$bc-sainsburys: #ec8a00;
$bc-salesforce: #1798c1;
$bc-salesforce-2: #f10;
$bc-samsung: #1428a0;
$bc-samsung-2: #75787b;
$bc-samsung-3: #0689d8;
$bc-samsung-4: #ffc600;
$bc-samsung-5: #ff6900;
$bc-samsung-6: #e4002b;
$bc-samsung-7: #c800a1;
$bc-samsung-8: #685bc7;
$bc-samsung-9: #0057b8;
$bc-samsung-10: #00a9e0;
$bc-samsung-11: #009ca6;
$bc-samsung-12: #00b140;
$bc-san-francisco-49ers: #e91e22;
$bc-san-francisco-49ers-2: #c8aa76;
$bc-san-francisco-49ers-3: #000;
$bc-san-francisco-giants: #fd5a1e;
$bc-san-francisco-giants-2: #000;
$bc-sap: #036;
$bc-sap-2: #999;
$bc-scouts-uk: #4d2177;
$bc-scouts-uk-2: #84a40b;
$bc-scouts-uk-3: #004851;
$bc-scouts-uk-4: #009a44;
$bc-scouts-uk-5: #0095c8;
$bc-scouts-uk-6: #003da5;
$bc-scouts-uk-7: #002855;
$bc-scouts-uk-8: #004851;
$bc-scouts-uk-9: #ffcd00;
$bc-scouts-uk-10: #ff8200;
$bc-scouts-uk-11: #ba0c2f;
$bc-scouts-uk-12: #ad1aac;
$bc-scouts-uk-13: #7c3a2d;
$bc-scouts-uk-14: #8c857b;
$bc-scratch: #f7a83a;
$bc-scratch-2: #25aff4;
$bc-scribd: #1a7bba;
$bc-septa: #1f4fa3;
$bc-septa-2: #f14728;
$bc-seton-hall-university: #048;
$bc-shazam: #08f;
$bc-shazam-2: #fa0;
$bc-shazam-3: #f70;
$bc-shazam-4: #f03;
$bc-shazam-5: #91a;
$bc-shazam-6: #c28;
$bc-shazam-7: #ad2;
$bc-shazam-8: #242424;
$bc-shazam-9: #646464;
$bc-shazam-10: #949494;
$bc-shazam-11: #e4e4e4;
$bc-shazam-12: #f4f4f4;
$bc-sherwin-williams: #0168b3;
$bc-sherwin-williams-2: #ee3e34;
$bc-shopify: #96bf48;
$bc-shopify-2: #479ccf;
$bc-shopify-3: #2d3538;
$bc-shopify-4: #f5f5f5;
$bc-shopify-5: #f2f7fa;
$bc-shopify-6: #666;
$bc-shopmium: #f01f74;
$bc-siemens: #099;
$bc-sina: #e71d34;
$bc-sina-2: #232021;
$bc-skillshare: #f26b21;
$bc-skillshare-2: #68b8be;
$bc-skoda: #00800d;
$bc-skype: #00aff0;
$bc-skywest: #00338d;
$bc-slack: #6ecadc;
$bc-slack-2: #e9a820;
$bc-slack-3: #e01563;
$bc-slack-4: #3eb991;
$bc-slideshare: #0077b5;
$bc-slipcase: #7c9cb0;
$bc-smashing-magazine: #e53b2c;
$bc-smashing-magazine-2: #41b7d8;
$bc-snagajob: #f36f21;
$bc-snapchat: #fffc00;
$bc-socialbro: #29c4d0;
$bc-socialbro-2: #f29556;
$bc-socialbro-3: #84afa2;
$bc-socialbro-4: #72c427;
$bc-socialbro-5: #f24c7c;
$bc-socialbro-6: #00aaf2;
$bc-softonic: #008ace;
$bc-songkick: #f80046;
$bc-sonicbids: #f60;
$bc-sonicbids-2: #0c88b1;
$bc-sony: #000;
$bc-sony-2: #7c8285;
$bc-sony-3: #bfbdb0;
$bc-sony-4: #b1b134;
$bc-sony-5: #bbd634;
$bc-sony-6: #dbe3b6;
$bc-sony-7: #b2c8bd;
$bc-sony-8: #165b65;
$bc-sony-9: #697d99;
$bc-sony-10: #96b8db;
$bc-sony-11: #00a4e8;
$bc-sony-12: #a4dbdb;
$bc-sony-13: #fdd666;
$bc-sony-14: #dc9018;
$bc-sony-15: #e31a22;
$bc-sony-16: #df8f2d;
$bc-sony-17: #b24f3f;
$bc-sony-18: #b51f29;
$bc-sony-19: #f58268;
$bc-sony-20: #f4979c;
$bc-soulcycle: #fedf00;
$bc-soulcycle-2: #1e1e1e;
$bc-soulcycle-3: #a7a8aa;
$bc-soundcloud: #f80;
$bc-soundcloud-2: #f30;
$bc-space-box: #f86960;
$bc-spoken: #fc00c1;
$bc-spoken-2: #000;
$bc-spotify: #1db954;
$bc-spotify-2: #191414;
$bc-sprint: #ffe100;
$bc-sprout-social: #75dd66;
$bc-sprout-social-2: #59cb59;
$bc-sprout-social-3: #2bb656;
$bc-sprout-social-4: #0ca750;
$bc-sprout-social-5: #f3f4f4;
$bc-sprout-social-6: #364141;
$bc-square-cash: #28c101;
$bc-squarespace: #222;
$bc-stack-exchange: #1e5397;
$bc-stack-exchange-2: #376db6;
$bc-stack-exchange-3: #4ca2da;
$bc-stack-exchange-4: #91d8f4;
$bc-stackoverflow: #f48024;
$bc-stackoverflow-2: #222426;
$bc-stackoverflow-3: #bcbbbb;
$bc-staples: #c00;
$bc-staples-2: #2c8aec;
$bc-staples-3: #fc0;
$bc-starbucks: #00704a;
$bc-state-farm: #e1261c;
$bc-status-chart: #d7584f;
$bc-steam: #00adee;
$bc-steam-2: #000;
$bc-sterling-hotels: #3b5a6f;
$bc-sterling-hotels-2: #828a87;
$bc-sterling-hotels-3: #000;
$bc-sterling-hotels-4: #9db7c4;
$bc-sterling-hotels-5: #ccd7dd;
$bc-sterling-hotels-6: #838f97;
$bc-sterling-hotels-7: #002054;
$bc-stockton-university: #000;
$bc-stockton-university-2: #79bde9;
$bc-stockton-university-3: #ffc423;
$bc-stockton-university-4: #bc9b6a;
$bc-stockton-university-5: #a7a9ac;
$bc-storyful: #f97200;
$bc-storyful-2: #010101;
$bc-storyful-3: #8b8b64;
$bc-storyful-4: #bbbdc0;
$bc-strava: #fc4c02;
$bc-streamable: #0f90fa;
$bc-stripe: #00afe1;
$bc-stubhub: #004b91;
$bc-stubhub-2: #ff7300;
$bc-studyblue: #00afe1;
$bc-stumbleupon: #eb4924;
$bc-subway: #489e3b;
$bc-subway-2: #fabd42;
$bc-subway-3: #cd0a20;
$bc-subway-4: #fabd42;
$bc-subway-5: #cd0a20;
$bc-sugarcrm: #e61718;
$bc-sugarcrm-2: #e8e9ea;
$bc-sugarcrm-3: #595a5c;
$bc-sugarcrm-4: #282828;
$bc-suntrust: #00447c;
$bc-suntrust-2: #fdb913;
$bc-suntrust-3: #e36f1e;
$bc-supershuttle: #4285f4;
$bc-supershuttle-2: #ffcd1a;
$bc-swarm: #f06d1f;
$bc-swarm-2: #ffa633;
$bc-t-mobile: #e20074;
$bc-tableless: #d71e24;
$bc-tableless-2: #303030;
$bc-tagstr: #e74635;
$bc-tagstr-2: #e74635;
$bc-taiga: #444;
$bc-taiga-2: #b8b8b8;
$bc-taiga-3: #72a114;
$bc-taiga-4: #9dce0a;
$bc-taiga-5: #879b89;
$bc-taobao: #ff4200;
$bc-target: #c00;
$bc-technorati: #039;
$bc-ted: #e62b1e;
$bc-telegram: #08c;
$bc-temple: #a41e35;
$bc-temple-2: #222;
$bc-temple-3: #899197;
$bc-tesco: #ee1c2e;
$bc-tesco-2: #00539f;
$bc-tesla: #c00;
$bc-texas-am-university: #500000;
$bc-texas-am-university-2: #003c71;
$bc-texas-am-university-3: #5b6236;
$bc-texas-am-university-4: #744f28;
$bc-texas-am-university-5: #998542;
$bc-texas-am-university-6: #332c2c;
$bc-texas-am-university-7: #707373;
$bc-texas-am-university-8: #d6d3c4;
$bc-texas-tech-university: #c00;
$bc-texas-tech-university-2: #000;
$bc-the-audience-awards: #ee8421;
$bc-the-audience-awards-2: #8c8a8a;
$bc-the-audience-awards-3: #222;
$bc-the-college-of-new-jersey: #293f6f;
$bc-the-college-of-new-jersey-2: #a67a00;
$bc-the-next-web: #ff3c1f;
$bc-the-next-web-2: #26313b;
$bc-the-next-web-3: #4e5860;
$bc-the-next-web-4: #a6abaf;
$bc-the-next-web-5: #d9e0e2;
$bc-the-next-web-6: #fafbfc;
$bc-the-ritz-carlton: #006b95;
$bc-the-ritz-carlton-2: #4f5b65;
$bc-the-ritz-carlton-3: #b3812a;
$bc-the-ritz-carlton-4: #a01a1f;
$bc-the-sun: #ed1c24;
$bc-the-sun-2: #b90c13;
$bc-the-sun-goals: #00745e;
$bc-the-sun-goals-2: #086556;
$bc-the-sun-perks: #8560a8;
$bc-the-sun-perks-2: #431c69;
$bc-the-times: #000;
$bc-thomson-reuters: #ff8000;
$bc-thomson-reuters-2: #555;
$bc-thomson-reuters-3: #444;
$bc-thomson-reuters-4: #666;
$bc-thomson-reuters-5: #ccc;
$bc-thomson-reuters-6: #e9e9e9;
$bc-thomson-reuters-7: #f7f7f7;
$bc-tivo: #da3d34;
$bc-tivo-2: #00a480;
$bc-tivo-3: #ed9f40;
$bc-tivo-4: #6a76ac;
$bc-tivo-5: #17170e;
$bc-tivo-6: #534b38;
$bc-tivo-7: #a6a480;
$bc-totaljobs: #66bd00;
$bc-treehouse: #6fbc6d;
$bc-treehouse-2: #47535b;
$bc-trello: #0079bf;
$bc-trello-2: #70b500;
$bc-trello-3: #ff9f1a;
$bc-trello-4: #eb5a46;
$bc-trello-5: #f2d600;
$bc-trello-6: #c377e0;
$bc-trello-7: #ff78cb;
$bc-trello-8: #00c2e0;
$bc-trello-9: #51e898;
$bc-trello-10: #c4c9cc;
$bc-tripadvisor: #00af87;
$bc-trulia: #5eab1f;
$bc-tumblr: #35465c;
$bc-tunngle: #c30f24;
$bc-turbotax: #355ebe;
$bc-turbotax-2: #d52b1d;
$bc-tvtag: #e92c4c;
$bc-tvtag-2: #c82641;
$bc-twentythree: #1ec95b;
$bc-twentythree-2: #043623;
$bc-twentythree-3: #eff5f0;
$bc-twitch-tv: #6441a5;
$bc-twitch-tv-2: #b9a3e3;
$bc-twitch-tv-3: #262626;
$bc-twitch-tv-4: #f1f1f1;
$bc-twitter: #1da1f2;
$bc-twitter-2: #14171a;
$bc-twitter-3: #657786;
$bc-twitter-4: #aab8c2;
$bc-twitter-5: #e1e8ed;
$bc-twitter-6: #f5f8fa;
$bc-typekit: #98ce1e;
$bc-typepad: #d2de61;
$bc-typo3: #ff8700;
$bc-uber: #09091a;
$bc-uber-2: #c0c0c8;
$bc-uber-3: #1fbad6;
$bc-ubuntu: #dd4814;
$bc-ubuntu-2: #77216f;
$bc-ubuntu-3: #5e2750;
$bc-ubuntu-4: #2c001e;
$bc-ubuntu-5: #aea79f;
$bc-ubuntu-6: #333;
$bc-uc-berkeley: #003262;
$bc-uc-berkeley-2: #3b7ea1;
$bc-uc-berkeley-3: #fdb515;
$bc-uc-berkeley-4: #c4820e;
$bc-ucsf: #052049;
$bc-ucsf-2: #18a3ac;
$bc-ucsf-3: #90bd31;
$bc-ucsf-4: #178ccb;
$bc-ucsf-5: #f48024;
$bc-united-way: #10167f;
$bc-united-way-2: #fe230a;
$bc-united-way-3: #ff9600;
$bc-united-way-4: #000064;
$bc-united-way-5: #b41428;
$bc-united-way-6: #f57814;
$bc-united-way-7: #e6d7aa;
$bc-united-way-8: #505050;
$bc-united-way-9: #f0e6c8;
$bc-united-way-10: #969696;
$bc-united-way-11: #7c81b8;
$bc-united-way-12: #ff967d;
$bc-united-way-13: #ffc87d;
$bc-unity: #222c37;
$bc-unity-2: #0cc;
$bc-unity-3: #fff600;
$bc-unity-4: #f06;
$bc-unity-5: #19e3b1;
$bc-unity-6: #ff7f33;
$bc-unity-7: #b83c82;
$bc-universitat-hamburg: #e2001a;
$bc-universitat-hamburg-2: #009cd1;
$bc-universitat-hamburg-3: #3b515b;
$bc-university-of-alberta: #007c41;
$bc-university-of-alberta-2: #ffdb05;
$bc-university-of-arizona: #c03;
$bc-university-of-arizona-2: #036;
$bc-university-of-cambridge: #d6083b;
$bc-university-of-cambridge-2: #0072cf;
$bc-university-of-cambridge-3: #ea7125;
$bc-university-of-cambridge-4: #55a51c;
$bc-university-of-cambridge-5: #8f2bbc;
$bc-university-of-cambridge-6: #00b1c1;
$bc-university-of-florida: #fa4616;
$bc-university-of-florida-2: #0021a5;
$bc-university-of-illinois-urbana-champaign: #131f33;
$bc-university-of-illinois-urbana-champaign-2: #fa6300;
$bc-university-of-kentucky: #005daa;
$bc-university-of-michigan: #00274c;
$bc-university-of-michigan-2: #ffcb05;
$bc-university-of-oregon: #fce122;
$bc-university-of-oregon-2: #18453b;
$bc-university-of-texas: #bf5700;
$bc-university-of-texas-2: #333f48;
$bc-university-of-texas-3: #005f86;
$bc-university-of-texas-4: #43695b;
$bc-university-of-texas-5: #f2a900;
$bc-university-of-texas-6: #382f2d;
$bc-university-of-texas-7: #d6d2c4;
$bc-university-of-victoria: #005493;
$bc-university-of-victoria-2: #f5aa1c;
$bc-university-of-victoria-3: #c63527;
$bc-university-of-victoria-4: #002754;
$bc-university-of-washington: #4b2e83;
$bc-university-of-washington-2: #b7a57a;
$bc-university-of-washington-3: #85754d;
$bc-university-of-waterloo: #ffd54f;
$bc-university-of-waterloo-2: #000;
$bc-university-of-wisconsin-milwaukee: #ffbd00;
$bc-university-of-wisconsin-milwaukee-2: #000;
$bc-university-of-wisconsin-milwaukee-3: #98c646;
$bc-university-of-wisconsin-milwaukee-4: #694d88;
$bc-university-of-wisconsin-milwaukee-5: #5382af;
$bc-university-of-wisconsin-milwaukee-6: #d06d34;
$bc-university-of-wisconsin-milwaukee-7: #5f9a38;
$bc-university-of-wisconsin-milwaukee-8: #474d52;
$bc-univision: #c822b0;
$bc-ups: #351c15;
$bc-ups-2: #ffb500;
$bc-ups-3: #64a70b;
$bc-usps: #336;
$bc-usps-2: #e71921;
$bc-usps-3: #218748;
$bc-ustream: #38f;
$bc-utorrent: #00853f;
$bc-verizon: #f00;
$bc-verizon-2: #f2f2f2;
$bc-verizon-3: #3285dc;
$bc-viadeo: #f07355;
$bc-viber: #59267c;
$bc-viber-2: #8f5db7;
$bc-viber-3: #e2d4e7;
$bc-viber-4: #a5cfd5;
$bc-viber-5: #81cd50;
$bc-vidme: #f82a53;
$bc-vidme-2: #111;
$bc-vidme-3: #f5f5f5;
$bc-vidme-4: #9f2af8;
$bc-vidme-5: #aaa;
$bc-vidme-6: #dff0d8;
$bc-viki: #3c9cd7;
$bc-viki-2: #d24663;
$bc-vimeo: #162221;
$bc-vimeo-2: #1ab7ea;
$bc-vine: #00b488;
$bc-virb: #1e91d0;
$bc-virgin-media: #c3092d;
$bc-virgin-media-2: #222221;
$bc-virgin-money: #c00;
$bc-virgin-money-2: #333;
$bc-virgin-money-3: #a93c3b;
$bc-virgin-money-4: #a896a0;
$bc-virgin-money-5: #7a3671;
$bc-virgin-money-6: #bd1d65;
$bc-visa: #1a1f71;
$bc-visa-2: #f7b600;
$bc-visualcv: #31577a;
$bc-visually: #14acf2;
$bc-visually-2: #f04494;
$bc-visually-3: #0ac578;
$bc-vkontakte: #45668e;
$bc-vodafone: #e60000;
$bc-vodafone-2: #4a4d4e;
$bc-vodafone-3: #9c2aa0;
$bc-vodafone-4: #5e2750;
$bc-vodafone-5: #00b0ca;
$bc-vodafone-6: #007c92;
$bc-vodafone-7: #a8b400;
$bc-vodafone-8: #fecb00;
$bc-vodafone-9: #eb9800;
$bc-vodafone-10: #000;
$bc-volvo: #003057;
$bc-volvo-2: #115740;
$bc-volvo-3: #65665c;
$bc-volvo-4: #425563;
$bc-volvo-5: #517891;
$bc-volvo-6: #212721;
$bc-vue-js: #42b883;
$bc-vue-js-2: #35495e;
$bc-walgreens: #e31837;
$bc-walgreens-2: #f37520;
$bc-walgreens-3: #489cd4;
$bc-walgreens-4: #2774a6;
$bc-walgreens-5: #35393d;
$bc-walmart: #007dc6;
$bc-walmart-2: #79b9e7;
$bc-walmart-3: #f47421;
$bc-walmart-4: #76c143;
$bc-walmart-5: #ffc120;
$bc-walmart-6: #e7f0f7;
$bc-walmart-7: #f2f8fd;
$bc-walmart-8: #222;
$bc-walmart-9: #444;
$bc-warby-parker: #414b56;
$bc-warby-parker-2: #00a2e1;
$bc-wave-apps: #1c2d37;
$bc-wave-apps-2: #4ec7c4;
$bc-wave-apps-3: #00959f;
$bc-wave-apps-4: #3b9bcc;
$bc-webzunder: #eea642;
$bc-wechat: #7bb32e;
$bc-weibo: #e71d34;
$bc-weixin: #93d034;
$bc-wendys: #e2203d;
$bc-wendys-2: #199fda;
$bc-western-digital: #005195;
$bc-western-digital-2: #028948;
$bc-western-digital-3: #ffd400;
$bc-western-digital-4: #0067b3;
$bc-western-digital-5: #9d0a0e;
$bc-western-digital-6: #003369;
$bc-whatsapp: #075e54;
$bc-whatsapp-2: #128c7e;
$bc-whatsapp-3: #25d366;
$bc-whatsapp-4: #dcf8c6;
$bc-whatsapp-5: #34b7f1;
$bc-whatsapp-6: #ece5dd;
$bc-whoosnap-designer: #2fa5d6;
$bc-whoosnap-designer-2: #b52f2c;
$bc-wikipedia: #000;
$bc-wikipedia-2: #636466;
$bc-wikipedia-3: #939598;
$bc-wikipedia-4: #c7c8ca;
$bc-windows: #0078d7;
$bc-windows-2: #002050;
$bc-windows-3: #ffb900;
$bc-windows-4: #d83b01;
$bc-windows-5: #e81123;
$bc-windows-6: #b4009e;
$bc-windows-7: #5c2d91;
$bc-windows-8: #008272;
$bc-windows-9: #107c10;
$bc-windows-phone: #68217a;
$bc-wolfram-alpha: #f68d1e;
$bc-woocommerce: #96588a;
$bc-woocommerce-2: #3c3c3c;
$bc-woocommerce-3: #71b02f;
$bc-wooga: #5b009c;
$bc-wordpress: #21759b;
$bc-wordpress-2: #d54e21;
$bc-wordpress-3: #464646;
$bc-wordpress-com: #0087be;
$bc-wordpress-com-2: #78dcfa;
$bc-wordpress-com-3: #00aadc;
$bc-wordpress-com-4: #005082;
$bc-wordpress-com-5: #87a6bc;
$bc-wordpress-com-6: #f3f6f8;
$bc-wordpress-com-7: #e9eff3;
$bc-wordpress-com-8: #e9eff3;
$bc-wordpress-com-9: #a8bece;
$bc-wordpress-com-10: #668eaa;
$bc-wordpress-com-11: #4f748e;
$bc-wordpress-com-12: #3d596d;
$bc-wordpress-com-13: #2e4453;
$bc-wordpress-com-14: #d54e21;
$bc-wordpress-com-15: #f0821e;
$bc-wordpress-com-16: #4ab866;
$bc-wordpress-com-17: #f0b849;
$bc-wordpress-com-18: #d94f4f;
$bc-world-organisation-of-the-scout-movement-wosm: #622599;
$bc-world-organisation-of-the-scout-movement-wosm-2: #0054a0;
$bc-world-organisation-of-the-scout-movement-wosm-3: #aaba0a;
$bc-world-organisation-of-the-scout-movement-wosm-4: #dd7500;
$bc-world-organisation-of-the-scout-movement-wosm-5: #e23d28;
$bc-world-organisation-of-the-scout-movement-wosm-6: #3d8e33;
$bc-world-organisation-of-the-scout-movement-wosm-7: #39f;
$bc-world-organisation-of-the-scout-movement-wosm-8: #f39;
$bc-world-organisation-of-the-scout-movement-wosm-9: #fcd116;
$bc-world-organisation-of-the-scout-movement-wosm-10: #999;
$bc-worldline: #0066a1;
$bc-wufoo: #e66760;
$bc-wufoo-2: #8c88cd;
$bc-wufoo-3: #69c5e4;
$bc-wufoo-4: #ffdf8b;
$bc-wufoo-5: #61e064;
$bc-wunderlist: #2b96f1;
$bc-wwe: #d7182a;
$bc-xbox: #52b043;
$bc-xing: #026466;
$bc-xing-2: #cfdc00;
$bc-xy-gaming: #3299cc;
$bc-xy-gaming-2: #333;
$bc-yahoo: #410093;
$bc-yandex: #fc0;
$bc-yellow-pages: #ffd400;
$bc-yellow-pages-2: #000;
$bc-yelp: #af0606;
$bc-yii-framework: #d8582b;
$bc-yii-framework-2: #16a314;
$bc-yii-framework-3: #3b6fba;
$bc-yo: #9b59b6;
$bc-yo-2: #e74c3c;
$bc-yo-3: #8e44ad;
$bc-yo-4: #2980b9;
$bc-yo-5: #f1c40f;
$bc-yo-6: #16a085;
$bc-yo-7: #34495e;
$bc-yo-8: #3498db;
$bc-yo-9: #2ecc71;
$bc-yo-10: #1abc9c;
$bc-youtube: #f00;
$bc-youtube-2: #282828;
$bc-zalongo: #5498dc;
$bc-zapier: #ff4a00;
$bc-zapier-2: #fd7622;
$bc-zapier-3: #ffc43e;
$bc-zapier-4: #5f6c72;
$bc-zapier-5: #499df3;
$bc-zapier-6: #13d0ab;
$bc-zendesk: #00363d;
$bc-zendesk-2: #f79a3e;
$bc-zendesk-3: #eb6651;
$bc-zendesk-4: #30aabc;
$bc-zendesk-5: #eb4962;
$bc-zendesk-6: #37b8af;
$bc-zendesk-7: #78a300;
$bc-zendesk-8: #f0ca28;
$bc-zerply: #9dbc7a;
$bc-zillow: #1277e1;
$bc-zomato: #cb202d;
$bc-zomato-2: #2d2d2d;
$bc-zomato-3: #f4f4f2;
$bc-zootool: #5e8b1d;
$bc-zopim: #ff9d3b;
