
#orderList {
  height: 440px;
}
#transactions {
  height: 440px;
}

.master-detail-caption {
  padding: 0 0 5px 10px;
  font-size: 14px;
  font-weight: bold;
}
.transButton {
  margin-bottom: 20px;
}
.dx-button.dx-button-success.dx-button-mode-contained.dx-widget.dx-button-has-icon.dx-button-has-text {
  margin-left: 20%;
  margin-right: 20%
}
